html, body {
	color: #ffffff;
	background-color: #323232 !important;
}

.close {
	color: #ffffff !important;
}

.card, .modal-content, .form-control, .input-group-append {
	background-color: #282828 !important;
}

.form-control {
	border-color: #3d3d3d !important;
}

.form-control, .form-control:focus {
	color: #f0f0f0;
}

.btn-outline-secondary {
	color: lightgray;
	border-color: darkslategray;
	background-color: #1f1f1f;
}