html, body, .container {
    background-color: #323232  !important;
    color: #ffffff;
}

.close {
    color: #ffffff !important;
}

.card, .modal-content, .form-control, .input-group-append {
    background-color: #282828 !important;
    
    border-color: #667777 !important;
}

.card, .modal-content, .input-group-append {
    border: none;
}

.form-control {
    border-color: #3d3d3d !important;;
}

.btn-outline-secondary {
border: none;}

.btn {
    color: #f0f0f0;
}

.form-control, .form-control:focus {
    color: #f0f0f0;
}

.form-control::placeholder {
    color: #848a8f;
    opacity: 1; /* Firefox */
}

