html, body, .container {
  background-color: #131314 !important;
  color: #ffffff;
}

.close {
  color: #ffffff !important;
}

.card, .modal-content, .form-control, .input-group-append {
  background-color: #39393a !important;
  border-color: #39393a !important;
}
