body, html {
	background-color: #f4f4f4 !important;
}

.container {
	margin-top: 3em !important;
}

.card {
	margin-bottom: 1em;
}

.fa-cog {
	display: inline !important;
	position: absolute !important;
	top: 10px !important;
	right: 10px !important;
	font-size: 24px !important;
}

.fa-plus {
	display: inline !important;
	position: absolute !important;
	top: 10px !important;
	right: 40px !important;
	font-size: 24px !important;
}

.menu-btn, .card-settings {
	background: none !important;
	color: inherit;
	border: none;
	padding: 0 !important;
	font: inherit;
}

.setting > * {
	display: block;
}

.toggle-on > label {
	margin-left: 2px;
	margin-bottom: 2px;
}

.setting > .toggle {
	position: relative;
}

.card-settings {
	position: absolute;
	right: 10px;
	font-size: 24px;
}

.dropdown-toggle::after {
	display: none !important;
}

button {
 outline: none !important;
}
