.container {
	margin-top: 3em !important;
}

.card {
	margin-bottom: 1em;
}

.fa-cog {
	display: inline !important;
	position: absolute !important;
	top: 10px !important;
	right: 10px !important;
	font-size: 24px !important;
}

.fa-plus {
	display: inline !important;
	position: absolute !important;
	top: 10px !important;
	right: 40px !important;
	font-size: 24px !important;
}

.menu-btn, .card-settings {
	background: none !important;
	color: inherit;
	border: none;
	font: inherit;
}

.modal, h5, .kofitext {
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
}

.setting > .toggle {
	position: relative;
}

.card-settings {
	position: absolute;
	right: 10px;
	font-size: 24px;
}

.dropdown-toggle::after {
	display: none !important;
}

.toggle-handle {
	display: none !important;
}

.slider {
    background-color: #8f8f8f;
}