################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# michal likes visual studio so he needs this
/.vs
